/PortableGameTest.Framework/obj
/PortableGameTest.Framework/bin
/PortableGameTest.Framework.Abstractions/obj
/PortableGameTest.Framework.Abstractions/bin
/PortableGameTest.Framework.Win32/bin
/PortableGameTest.Framework.Win32/obj
*.suo
*.user

/PortableGameTest-WinRT/obj
/PortableGameTest-WinRT/bin
/PortableGameTest-Win32/obj
/PortableGameTest-Win32/bin
/PortableGameTest.Framework.WinRT/obj
/PortableGameTest.Framework.WinRT/bin
/PortableGameTest.Framework.WinRT/bin
/PortableGameTest.Framework.WinRT/obj
/PortableGameTest.Core/obj
/PortableGameTest.Core/bin
/PortableGameTest.Framework.Content/PortableGameTest.Framework.Content/obj
/PortableGameTest.Framework.Content/PortableGameTest.Framework.Content/bin
/PortableGameTest.Framework.Content/PortableGameTest.Framework.ContentContent/obj
/PortableGameTest.Framework.Content/PortableGameTest.Framework.ContentContent/bin
/PortableGameTest.Framework.Content/PortableGameTest.Framework.ContentContent/obj
/PortableGameTest.Framework.Content/PortableGameTest.Framework.ContentContent/bin
*.cachefile
*.cache
