<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="win" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="win" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="win" />
  <package id="MonoGame.Binaries" version="3.1.3-alpha" targetFramework="win" />
  <package id="PCLCrypto" version="0.3.1-beta" targetFramework="win" />
  <package id="Portable.IO" version="1.0.1" targetFramework="win" />
  <package id="SevenZipSharp" version="0.64" targetFramework="win" />
  <package id="Validation" version="2.0.3.13323" targetFramework="win" />
</packages>