<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="net45" />
  <package id="MonoGame.Binaries" version="3.0.1" targetFramework="net45" />
  <package id="openal.redist" version="2.0.7.0" targetFramework="net45" />
  <package id="PCLCrypto" version="0.3.1-beta" targetFramework="net45" />
  <package id="Portable.IO" version="1.0.1" targetFramework="net45" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
  <package id="Validation" version="2.0.3.13323" targetFramework="net45" />
</packages>