<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="portable-win+net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="portable-win+net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="portable-win+net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="portable-win+net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="portable-win+net45" />
  <package id="MonoGame-Portable" version="3.2.1" targetFramework="portable-win+net45" />
  <package id="PCLCrypto" version="0.3.1-beta" targetFramework="portable-win+net45" />
  <package id="SevenZipSharp" version="0.64" targetFramework="portable-win+net45" />
  <package id="Validation" version="2.0.3.13323" targetFramework="portable-win+net45" />
</packages>